# Frontend Keys env example (Fill this out with the layout of your .env.local.local file without the actual values Alex)
# Use the .env.local.example in the project root for reference on what I mean
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=