# Node
node_modules/
.next/

# Python
.venv/
*venv/
__pycache__/

# Environment files (ignore all except example envs)
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example

# Ignore all markdown files except for the readme
.md
!README.md

# Supabase temp files
supabase/.temp/

# Misc.
.codex